@charset "UTF-8";

a{
  text-decoration: none;
}

li{
  list-style: none;
}


/* header */
header {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

.open-nav {
  max-height: 400px;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

header .logo {
  width: 120px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

header .logo img{
  max-width: 100%;
}

header nav {
  float: right;
  width: 60%;
}

header nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

header nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

header nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

header .row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

/* mainVisual */

.mainVisual{
  position: relative;
  height: 100vh;
  z-index: -1;
}

.text-bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../MetaLife/image_8.png"); 
  background-size: cover;
  background-position: center;
  transform: scale(1.8);
  animation: scaleImage 4s ease-out forwards;
  z-index: 0;
}

.main-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: calc(10px + 8vw);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;/* 文字と文字の間隔調整 */
  white-space: nowrap;/* 改行禁止　1行に*/

  color: #00ff6a;
  text-shadow:
    0 0 5px #fff,
    0 0 40px rgb(0, 255, 106);

  opacity: 0;
  animation: fadeInText 3s 2s ease-out forwards;
}

@keyframes scaleImage {
  to {
    transform: scale(1);
  }
}

@keyframes fadeInText {
  to {
    opacity: 1;
  }
}

#function {
  /* background-color: #C0C0C0; */
  background-image: url(../MetaLife/image51.png);
  background-size: cover;
  max-width: 1600px;
  padding-bottom: 146px;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

#function img {
  width: 40%;
}

#function .section-title {
  text-align: center;
  padding-bottom: 60px;
  font-size: 40px;
}

.small-title {
  font-size: 25px;
}

/* PC表示の時は改行しない。レスポンシブ時に解除して改行 */
#function .pc {
  display: none;
}

/* <<< フォントカラー >>> */
.leaf {
  color: rgb(3, 142, 95);
}

.orange {
  color: #ED6B1A;
}

/* ファンクションリスト */
.inner {
  width: 100%;
  max-width: 1166px;
  margin: 0 auto;
  position: relative;
}

/* ＜＜＜白抜き部分のリスト部分＞＞＞ */
.function-list li {
  max-width: 468px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 56px rgba(167, 100, 50, 0.16);
  padding: 53px 0 51px;
  margin-top: 24px;
  position: relative;
}

.function-list {
  max-width: 977px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 50px;
  text-align: center;
}

/* ＜＜＜緑のバルーン部分＞＞＞ */
.solution_head {
  background-color: rgb(3, 142, 95);
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

.ballon {
  width: 95%;
  max-width: 269px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  border-radius: 50px;
  padding: 15px 0;
  position: absolute;
}
/* ＜＜＜緑のバルーン部分の下三角＞＞＞ */
.solution_head::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgb(3, 142, 95) transparent transparent transparent;
  border-width: 25.98px 15px 0px 15px;
  position: absolute;
  left: 43%;
  top: 45px;
}

/* HOW TO  */

#howto {
  background-color: bisque;
  padding: 80px 0;
}

#howto .howto-title {
  text-align: center;
  padding-bottom: 60px;
  font-size: 40px;
}

#howto img {
  width: 73%;
}

.howto-link-list li {
  max-width: 468px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 56px rgba(167, 100, 50, 0.16);
  padding: 70px 0 120px;
  margin-top: 24px;
  position: relative;
}

.howto-link-list {
  max-width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 50px;
  text-align: center;
}

.circle {
  width: 50%;
  max-width: 90px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  border-radius: 50px;
  padding: 15px 0;
  position: absolute;
  background-color: rgb(3, 142, 95);
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
}

#howto .medium {
  color: #ED6B1A;
}

.circle::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgb(3, 142, 95) transparent transparent transparent;
  border-width: 25.98px 15px 0px 15px;
  position: absolute;
  left: 30%;
  bottom: -300px;
}


@media (max-width: 766px){
    header {
    padding-top: 25px;
  }

    .logo {
    float: none;
  }

  nav {
    width: 100%;
  }

    nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }

    nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }

    .mobile-toggle {
    display: block;
  }

}